workflow:
  rules:
    - if : SCI_PIPLINE_SOURCE == 'merge_requests_event'


image: python:3.11-slim


stages:
  - test

before_script:
 - pip install -r requirements-dev.txt

unittest:
  stage: test
  script:
    - mypy src/

black:
  stage: test
  script:
    - black --diff --check src/

isort:
  stage: test
  script:
    - isort --check-only --diff src/

flask8:
  stage: test
  script:
    - flake8 src/