#services:
#  postgres:
#    image: postgres:15-alpine
#    container_name: twitter_postgres
#    env_file:
#      - .env
#    environment:
#      POSTGRES_DB: ${POSTGRES_DB}
#      POSTGRES_USER: ${POSTGRES_USER}
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#
#  web:
#    build: .
#    container_name: twitter_flask_app
#    depends_on:
#      postgres:
#        condition: service_healthy
#    env_file:
#      - .env
#    environment:
#      DB_HOST: ${DB_HOST}
#      DB_PORT: ${DB_PORT}
#      DB_NAME: ${DB_NAME}
#      DB_USER: ${DB_USER}
#      DB_PASSWORD: ${DB_PASSWORD}
#    ports:
#      - "5000:5000"
#    volumes:
#      - ./run.py:/run.py
#      - ./app:/app
#      - ./requirements.txt:/app/requirements.txt
#    command: python run.py
#
#volumes:
#  postgres_data:
#





services:
  postgres:
    image: postgres:15-alpine
    container_name: twitter_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U developer -d twitter_database"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: twitter_flask_app
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5000:5000"
    volumes:
      - ./run.py:/run.py
      - ./app:/app
      - ./requirements.txt:/app/requirements.txt
    command: python run.py

volumes:
  postgres_data: